.garage {
    margin: 0 30px;
}

.garage_title {
    color: #ffff;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.garage_page {
    color: #ffff;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.car {
    margin-bottom: 15px;
}

.car_selection {
    display: flex;
    gap: 5px;
}

.selection_select,
.selection_remove {
    width: 80px;
    height: 25px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: rgb(214, 208, 208);
    margin-bottom: 10px;
}

.selection_select:hover,
.selection_remove:hover {
    background-color: rgb(130, 238, 144);
}

.selection_name {
    color: yellowgreen;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

.car_move {
    display: flex;
    gap:5px;
    align-items: flex-start;
    height: 50px;
}

.move_start,
.move_stop {
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: inherit;
    color: white;

}

.move_start:disabled,
.move_stop:disabled {
    border: 2px solid rgb(93, 94, 93);
    cursor: not-allowed;
}

.move_start:disabled:hover,
.move_stop:disabled:hover {
    background-color: inherit;
}

.move_start {
    border: 2px solid green;
}

.move_start:hover {
    background-color: rgb(22, 233, 22);
}

.move_stop {
    border: 2px solid red;
}

.move_stop:hover {
background-color: rgb(241, 42, 42);
}

.move_icon {
    align-self: flex-end;
    margin-bottom: -10px;
}

.move_icon svg {
    transform: rotateY(180deg);
}

.move_finish img {
    width: 50px;
    height: 50px;
}

.car_road {
    height: 1px;
    border-bottom: 2px dashed white;
}

.garage_pagination {
    margin: 40px 0;
    display: flex;
    gap: 15px;
}

.garage_pagination button {
    width: 70px;
    height: 25px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: rgb(89, 238, 69);
}

.garage_pagination button:hover {
    background-color: rgb(130, 238, 144);
}

.garage_pagination button:disabled:hover {
    background-color: rgb(89, 238, 69);
    cursor: not-allowed;
}

.race_winner {
    position: fixed;
    z-index: 10;
    width: 500px;
    padding: 30px 0;
    font-size: 30px;
    font-weight: bold;
    top: calc(50vh - 300px / 2);
    left: calc(50vw - 500px / 2);
    background-color: black;
    color: rgb(216, 216, 117);
    border: 2px solid rgb(216, 216, 117);
    text-align: center;
    border-radius: 10px;
}

.winner_img {
    margin-bottom: 20px;
}

.winner_img img {
    width: 300px;
    height: auto;
}

@media screen and (max-width:2560px) {
    .move_finish {
        margin-left: calc(87vw - 50px);
    }
}

@media screen and (max-width:2100px) {
    .move_finish {
        margin-left: calc(85vw - 50px);
    }
}

@media screen and (max-width:1780px) {
    .move_finish {
        margin-left: calc(81vw - 50px);
    }
}

@media screen and (max-width:1440px) {
    .move_finish {
        margin-left: calc(78vw - 50px);
    }
}

@media screen and (max-width:1280px) {
    .move_finish {
        margin-left: calc(75vw - 50px);
    }
}

@media screen and (max-width:1050px) {
    .move_finish {
        margin-left: calc(70vw - 50px);
    }
}

@media screen and (max-width:900px) {
    .move_finish {
        margin-left: calc(65vw - 50px);
    }
}

@media screen and (max-width:767px) {
    .move_finish {
        margin-left: calc(60vw - 50px);
    }
}

@media screen and (max-width:650px) {
    .move_finish {
        margin-left: calc(50vw - 50px);
    }
}

@media screen and (max-width:580px) {
    .move_finish {
        margin-left: calc(45vw - 50px);
    }
}

